/*TODO: ADD ICON*/

*{
	margin: 0;
	padding: 0;
}
.navbarlist{
	list-style-type: none;
	overflow: hidden;
}

.navbarlist li{
/*	Floating left puts all of the boxes on the same line*/
	float: left;
}

.navbarlist li a, .dropbutton{
/*	Gives each li their own block and space*/
	display: inline-block;
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 18px 20px;
	font-size: 18px;
}

.navbarlist li a:hover, .dropdown:hover{
	background-color: darkgrey;
	transition: 0.2s;
}

/*All drop content*/
.dropcontent {
/*	Hides all the content first*/
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Drop content links*/
.navbarlist .dropcontent a {
    color: black;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbarlist .dropdown:hover .dropcontent {
/*	Displays the content by setting it to block*/
    display: block;
}






















ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}