/*TODO: media queries for navbar*/

*{
	margin: 0;
	padding: 0;
}
/*Fixed Nav bar*/
.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}
.navbarlist{
	list-style-type: none;
	overflow: hidden;
}

.navbarlist li{
/*	Floating left puts all of the boxes on the same line*/
	float: right;
}

.navbarlist li a, .dropbutton{
/*	Gives each li their own block and space*/
	display: inline-block;
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 30px; 20px;
	font-size: 14px;
}

.navbarlist li a:hover, .dropdown:hover{
	background-color: darkgrey;
	transition: 0.2s;
}

/*All drop content*/
.dropcontent {
/*	Hides all the content first*/
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Drop content links*/
.navbarlist .dropcontent a {
    color: black;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbarlist .dropdown:hover .dropcontent {
/*	Displays the content by setting it to block*/
    display: block;
	margin-top: 1px;
	background-color: white;
}

.active {
	background-color: darkgrey;
}

.spacer{
/*	Padding of the links + font size */
	padding-bottom: 77px;
}
#logo{
	position: absolute;
/*	float: left;*/
	width: 75px;`
	height: 75px;
	margin-left: 50px;
	margin-top: 1px;
}
.content{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	width: 1000px;
}
#title{
	text-align: center;
	font-size: 36px;
	margin-bottom: 75px;
}
#cyc-video{
	margin: 0px auto;
	display: block;
	padding-bottom: 40px;
}
#about{
	color: grey;
	padding: 20px 0px 20px 0px;
}
#activities-list{
	color: grey;
	padding-left: 40px;
}
p a{
	color: darkred;
	text-decoration: none;
}
#infographic{
	margin: 0px auto;
	display: block;
	width: 1000px;
}